[submodule "emacs.d/vendor/tabulated-list"]
	path = emacs.d/vendor/tabulated-list
	url = https://github.com/sigma/tabulated-list.el.git
[submodule "emacs.d/vendor/gh"]
	path = emacs.d/vendor/gh
	url = https://github.com/sigma/gh.el.git
[submodule "emacs.d/vendor/pcache"]
	path = emacs.d/vendor/pcache
	url = https://github.com/sigma/pcache.git
[submodule "emacs.d/vendor/logito"]
	path = emacs.d/vendor/logito
	url = https://github.com/sigma/logito.git
[submodule "emacs.d/vendor/gist"]
	path = emacs.d/vendor/gist
	url = https://github.com/defunkt/gist.el.git
[submodule "emacs.d/vendor/slim-mode"]
	path = emacs.d/vendor/slim-mode
	url = https://github.com/slim-template/emacs-slim.git
[submodule "emacs.d/vendor/mustache-mode"]
	path = emacs.d/vendor/mustache-mode
	url = https://github.com/mustache/emacs.git
[submodule "emacs.d/vendor/ag"]
	path = emacs.d/vendor/ag
	url = https://github.com/Wilfred/ag.el.git
[submodule "emacs.d/vendor/rbenv"]
	path = emacs.d/vendor/rbenv
	url = git://github.com/senny/rbenv.el.git
[submodule "emacs.d/vendor/emms"]
	path = emacs.d/vendor/emms
	url = git://git.sv.gnu.org/emms.git
[submodule "emacs.d/vendor/powerline"]
	path = emacs.d/vendor/powerline
	url = https://github.com/jonathanchu/emacs-powerline
[submodule "emacs.d/vendor/org-sync"]
	path = emacs.d/vendor/org-sync
	url = git://orgmode.org/org-sync.git
[submodule "emacs.d/vendor/floobits"]
	path = emacs.d/vendor/floobits
	url = https://github.com/Floobits/floobits-emacs.git
[submodule "emacs.d/vendor/karma"]
	path = emacs.d/vendor/karma
	url = git@github.com:tonini/karma.el.git
