.DS_Store
*.elc
\#*
doc/*
bookmarks
backup
backup.*
org-clock-save.el
ac-comphist.dat
tramp
elpa
var
eshell
ido.last
recentf
.cask
emms
tmp
url
auto-save-list
projectile-bookmarks.eld
projectile.cache
tutorial/*
.mc-lists.el